{{#partial}}

<h1>ALl Heroes</h1>
{{#if heroes}}
    {{#each hero}}
        <ul>
           <li> <a href="/hero-details/{{id}}">{{name}}</a> </li>
        </ul>
    {{/each}}
{{else}}
    <p style="color:black;">No Heroes Yet.</p>
{{/if}}

{{/partial}}
{{>layout}}
